#movie {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 11rem;
  left: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25rem;
  gap: 1rem;
}

.container-tv {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 7rem;
  left: 5rem;

  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25rem;
  gap: 1rem;
}

.container-Anime {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 7rem;
  left: 5rem;

  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25rem;
  gap: 1rem;
}

.fav-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 12rem;
  width: 65rem;
  margin-left: 8rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item:last-child {
  border-bottom: none;
}

.dark {
  background-color: #333;
  color: #fff;
  width: 90vw;
}

.light {
  background-color: #fff;
  color: #333;
  width: 80vw;
  border-radius: 10rem;
}
